<!doctype html>
<html>
<head>
<title>{{msg|default('example page')}}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/dataTables.bootstrap.min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='Chart.bundle.js')}}"></script>
<style type="text/css">
.modal.modal-wide .modal-dialog {
	width: 95%;
}
.modal-wide .modal-body {
	overflow-y: auto;
}

/* irrelevant styling */
body { text-align: center; }
.modal body p { 
	max-width: 400px; 
	margin: 20px auto; 
}
.modal-body{
	padding: 20px;
}
.modal-body p { 
	margin-bottom: 900px;
 }
.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: #efefef;
	text-align: center;
	height: 4%
}
.modal .table th {
   text-align: center;   
}
.modal .table tbody {
   text-align: left;   
}
.chart{
	font-size: 14px;
}
</style>
</head>
<body>
<nav class="navbar navbar-default" style="position:absolute; z-index:200; width:100%;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="/">home</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mingguan <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{dropdown}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	{% for index, data in m.items() %}
			<li class="{% if dropdown == data %}{{active}}{% endif %}"><a href="?month={{index}}">{{ data }}</a></li>
			{% endfor %}
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" action="/" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="location" placeholder="Lokasi">
          <input type="hidden" class="form-control" name="month_form" value="{{dropdown}}">
        </div>
        <button type="submit" class="btn btn-default">Cari</button>
      </form>
      	<div class="navbar-header">
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="#"></a>
		</div>
		<div class="navbar-header">
		<a class="navbar-brand" href="#">Peta 
		{% if title != "" %}
			{{title}}
		{% else %}
			{{title}}
		{% endif %}
		</a>
		</div>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a></li> -->
  		<li><a href="#" data-toggle="modal" data-target="#modalMonth_{{dropdown}}"><span class="glyphicon glyphicon-stats" aria-hidden="true"> Grafik</span></a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="history_push"></div>
<script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='dataTables.bootstrap.min.js')}}"></script>

<!-- Modal -->
<script type="text/javascript">

	$(".modal-wide").on("show.bs.modal", function() {
	  var height = $(window).height() - 200;
	  $(this).find(".modal-body").css("max-height", height);
	});

	var history_month = {{ history |  tojson }};
	var data_all_graph = {{ graph_data |  tojson }};
	var month = "{{ dropdown }}"
	var result = "";
	var judul = "{{ title }}";

	//create modal graph bulanan
	element_modal = create_modal(month, "bulanan")
	$("#history_push").append(element_modal);

	create_table = create_tables(data_all_graph)

	$modalMonth = $('#modalMonth_'+month);
	$tr_table = $modalMonth.find("table tbody");
	$tr_table.html(create_table)

	$("#modalMonth_"+month+" table").DataTable({
		autoWidth: false, //step 1
		columnDefs: [
			{ width: '10%', targets: 0 }, //step 2, column 1 out of 4
			{ width: '70%', targets: 1 }, //step 2, column 2 out of 4
			{ width: '20%', targets: 2 }  //step 2, column 3 out of 4
		]
	});

	$('#modalMonth_'+month).on('shown.bs.modal', function() {
			labels = []
			datas = []
			$.each(data_all_graph["label_chart"], function(key, value) {
				if(key<=9){
					labels.push(value)
				}
			});
			$.each(data_all_graph["data_chart"], function(key, value) {
				if(key<=9){
					datas.push(value)
				}
			});

			$canvas = $(this).find("#chart_history");
			$frame = $(".chartjs-hidden-iframe");
			var $ctx = $canvas.get(0)
			$canvas.hide()
			var chartData = {
			    labels: labels,
			    datasets: [{
			            backgroundColor: [
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)',
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)'
			            ],
			            borderColor: [
			                'rgba(255,99,132,1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)',
			                'rgba(255,99,132,1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			                'rgba(75, 192, 192, 1)',
			            ],
			            borderWidth: 1,
			            data:datas,
			        }]
			};
			var opt = {
			    events: false,
			    tooltips: {
			        enabled: false
			    },
			    hover: {
			        animationDuration: 0
			    },
			    legend: {
		            display: false
		        },
			    animation: {
			        duration: 1,
			        onComplete: function () {
			            var chartInstance = this.chart,
			                ctx = chartInstance.ctx;
			            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
			            ctx.textAlign = 'center';
			            ctx.textBaseline = 'bottom';
			            ctx.fillStyle = "#777777";

			            this.data.datasets.forEach(function (dataset, i) {
			                var meta = chartInstance.controller.getDatasetMeta(i);
			                meta.data.forEach(function (bar, index) {
			                    var data = dataset.data[index];                            
			                    ctx.fillText(data, bar._model.x, bar._model.y);
			                });
			            });
			        }
			    }
			};

			myLineChart = new Chart($ctx, {
				type: 'bar',
				data: chartData,
				options: opt
			});

			// var myChart = new Chart($ctx, {
			//     type: 'bar',
			//     height: 260,
			//     data: {
			//         labels: labels,
			//         datasets: [{
			//             backgroundColor: [
			//                 'rgba(255, 99, 132, 0.2)',
			//                 'rgba(54, 162, 235, 0.2)',
			//                 'rgba(255, 206, 86, 0.2)',
			//                 'rgba(75, 192, 192, 0.2)',
			//                 'rgba(153, 102, 255, 0.2)',
			//                 'rgba(255, 159, 64, 0.2)',
			//                 'rgba(255, 99, 132, 0.2)',
			//                 'rgba(54, 162, 235, 0.2)',
			//                 'rgba(255, 206, 86, 0.2)',
			//                 'rgba(75, 192, 192, 0.2)'
			//             ],
			//             borderColor: [
			//                 'rgba(255,99,132,1)',
			//                 'rgba(54, 162, 235, 1)',
			//                 'rgba(255, 206, 86, 1)',
			//                 'rgba(75, 192, 192, 1)',
			//                 'rgba(153, 102, 255, 1)',
			//                 'rgba(255, 159, 64, 1)',
			//                 'rgba(255,99,132,1)',
			//                 'rgba(54, 162, 235, 1)',
			//                 'rgba(255, 206, 86, 1)',
			//                 'rgba(75, 192, 192, 1)',
			//             ],
			//             borderWidth: 1,
			//             data:datas,
			//         }]
			//     },
			//     options: {
			//         scales: {
			//             yAxes: [{
			//                 ticks: {
			//                     beginAtZero:true
			//                 }
			//             }]
			//         },
			//         legend: {
			//             display: false
			//         }
			//     }
			// });
			$canvas.css({"height":"500px"});
			$canvas.css({"width":"500px"});
			$canvas.show();
		});

	$.each(history_month, function(k, v) {
		element_modal = create_modal(k, "history")
		$("#history_push").append(element_modal);

		$('#modalHistory_'+k).on('shown.bs.modal', function() {
			labels = []
			datas = []
			$.each(history_month[k], function(key, value) {
				labels.push(value[1])
				datas.push(value[0])
			});

			create_table = create_tables(history_month[k], "history")

			$tr_table = $("#modalHistory_"+k).find("table tbody");
			$tr_table.append(create_table)

			$canvas = $(this).find("#chart_history");
			$frame = $(".chartjs-hidden-iframe");
			var $ctx = $canvas.get(0)
			$canvas.hide()

			var chartData = {
			    labels: labels,
			    datasets: [{
			            label: '# Angka Insiden (AI)',
			            data: datas,
			            fill: false,
			            lineTension: 0.1,
			            backgroundColor: "rgba(75,192,192,0.4)",
			            borderColor: "rgba(75,192,192,1)",
			            borderCapStyle: 'butt',
			            borderDash: [],
			            borderDashOffset: 0.0,
			            borderJoinStyle: 'miter',
			            pointBorderColor: "rgba(75,192,192,1)",
			            pointBackgroundColor: "#fff",
			            pointBorderWidth: 10,
			            pointHoverRadius: 5,
			            pointHoverBackgroundColor: "rgba(75,192,192,1)",
			            pointHoverBorderColor: "rgba(220,220,220,1)",
			            pointHoverBorderWidth: 2,
			            pointRadius: 1,
			            pointHitRadius: 10,
			        }]
			};
			var opt = {
			    events: false,
			    tooltips: {
			        enabled: false
			    },
			    hover: {
			        animationDuration: 0
			    },
			    legend: {
		            display: false
		        },
			    animation: {
			        duration: 1,
			        onComplete: function () {
			            var chartInstance = this.chart,
			                ctx = chartInstance.ctx;
			            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
			            ctx.textAlign = 'center';
			            ctx.textBaseline = 'bottom';
			            ctx.fillStyle = "#777777";

			            this.data.datasets.forEach(function (dataset, i) {
			                var meta = chartInstance.controller.getDatasetMeta(i);
			                meta.data.forEach(function (bar, index) {
			                    var data = dataset.data[index];                            
			                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
			                });
			            });
			        }
			    }
			};

			myLineChart = new Chart($ctx, {
				type: 'line',
				data: chartData,
				options: opt
			});

			// var myChart = new Chart($ctx, {
			//     type: 'line',
			//     height: 260,
			//     data: {
			//         labels: labels,
			//         datasets: [{
			//             label: '# Angka Insiden (AI)',
			//             data: datas,
			//             fill: false,
			//             lineTension: 0.1,
			//             backgroundColor: "rgba(75,192,192,0.4)",
			//             borderColor: "rgba(75,192,192,1)",
			//             borderCapStyle: 'butt',
			//             borderDash: [],
			//             borderDashOffset: 0.0,
			//             borderJoinStyle: 'miter',
			//             pointBorderColor: "rgba(75,192,192,1)",
			//             pointBackgroundColor: "#fff",
			//             pointBorderWidth: 10,
			//             pointHoverRadius: 5,
			//             pointHoverBackgroundColor: "rgba(75,192,192,1)",
			//             pointHoverBorderColor: "rgba(220,220,220,1)",
			//             pointHoverBorderWidth: 2,
			//             pointRadius: 1,
			//             pointHitRadius: 10,
			//         }]
			//     },
			//     options: {
			//         scales: {
			//             yAxes: [{
			//                 ticks: {
			//                     beginAtZero:true
			//                 }
			//             }]
			//         }
			//     }
			// });
			$canvas.css({"height":"500px"});
			$canvas.css({"width":"500px"});
			$canvas.show();
			$("#modalHistory_"+k).find("#table-data").DataTable();
		});
	});

	function create_modal(data, condition){
		title = data.toLowerCase().replace(/\b[a-z]/g, function(letter) {
		    return letter.toUpperCase();
		});

		if (condition == "history") {
			$titles = '<h4 class="modal-title"><center>History Angka Kejadian Bulan '+month+', Lokasi '+
						title+'</center></h4><h6 class="modal-title"><center>Angka Insiden diambil dari maksimal NUM harian</center></h6>';
			$id_modal = "modalHistory_"+data;
			$element = '<div class="row">'+
				      		'<div class="col-md-3">'+
			      			'</div>'+
			      			'<div class="col-md-6" style="font-size:11px;">'+
			      				'<canvas id="chart_history" width="400" height="400"></canvas>'+
			      			'</div>'+
			      			'<div id="data_table">'+
			      			'</div>'+
					    '</div>'+
				        '<div class="row">'+
					        '<div class="col-md-12" style="font-size:11px;">'+
					            '<table id="table-data" class="table table-striped">'+
								    '<thead>'+
								      '<tr align="center">'+
								      	'<th>No</th>'+
								        '<th>Date</th>'+
								        '<th>Tweet</th>'+
								        '<th>URL</th>'+
								      '</tr>'+
								    '</thead>'+
								    '<tbody>'+
								      '<tr>'+
								      '</tr>'+
								    '</tbody>'+
								  '</table>'+
					        '</div>'+
			        	'</div>';
		}else{
			$titles = '<h4 class="modal-title">'+judul+'</h4>';
			$id_modal = "modalMonth_"+data;
			$element = '<div class="row">'+
			      			'<div class="col-md-6" style="font-size:11px;">'+
			      				'<center><h5>Grafik kejadian demam berdarah</h5></center>'+
			      				'<canvas id="chart_history" width="400" height="400"></canvas>'+
			      			'</div>'+
			      			'<div class="col-md-6" style="font-size:11px;">'+
			      				'<center><h5>Data kejadian demam berdarah</h5></center>'+
			      				'<table class="table table-striped">'+
								    '<thead>'+
								      '<tr align="center">'+
								        '<th>No.</th>'+
								        '<th>Lokasi</th>'+
								        '<th>Jumlah Kejadian</th>'+
								      '</tr>'+
								    '</thead>'+
								    '<tbody>'+
								    '</tbody>'+
								  '</table>'+
			      			'</div>'+
					    '</div>';
		}


		$element = '<div class="modal modal-wide fade" id="'+$id_modal+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">'+
				  	'<div class="modal-dialog modal-lg" role="document">'+
					    '<div class="modal-content">'+
					      '<div class="modal-header">'+
					        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
					        $titles+
					      '</div>'+
					      '	<div class="modal-body">'+
						      	$element+
					    	'</div>'+
					  	'</div>'+
					'</div>'+
				'</div>';

		return $element;
	}

	function create_tables(datas, condition){
		result = ""
		j = 0
		if(condition=="history"){
			$.each(datas, function(key, value) {
				l_tweet = value[2].length
				for(i=0;i<l_tweet;i++){
					j++;
					result += '<tr><td>'+j+'</td><td>'+value[1]+'</td><td>'+value[2][i]+'</td>'+
					'<td><a href="http://www.twitter.com'+value[3][i]+'" target="_blank">'+value[3][i]+'</a></td></tr>';
				}
			});
		}else{
			no = 0;
			$.each(datas["label_chart"], function(key, value) {
				no+=1;
				result += '<tr><td>'+no+'</td><td>'+value+'</td>'+
				'<td align="center">'+datas["data_chart"][key]+'</td></tr>';
			});
		}
		
		return result
	}

</script>
</body>
</html>
