<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">

<html>
   <body>
		<div class="container">
			<form class="form-inline" action="http://localhost:8080/mod_uploader" method="POST" enctype="multipart/form-data">
			  <div class="form-group">
			    <label class="sr-only">Upload Data</label>
			    <input type = "file" name = "file" />
			  </div>
			  <button type="submit" class="btn btn-primary">Upload</button>
			</form>
		</div>
   </body>
</html>

<script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.dataTables.min.js')}}"></script>